<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/user/developer_dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed " href="">
   
          <span>Tasks</span>
        </a>
      </li>

     
      </li><!-- End Icons Nav -->

 
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}" method = 'POST'>
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->

  </aside>