{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static './style.css' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% comment %} <title>Dashboard - NiceAdmin Bootstrap Template</title> {% endcomment %}
    <title>Manager Dashboard </title>

    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static './assets/img/favicon.png' %}" rel="icon">
    <link href="{% static './assets/img/apple-touch-icon.png'  %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CNunito:300,300i,400,400i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static './assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static './assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static './assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

 
    
    
    {% block navbar %}
       
    {% include "./sidebar.html" %}  
    {% include "./navbar.html" %}  

    {% endblock navbar %}
    <main id="main" class="main">
    <div class="pagetitle">
     
        <h1>Dashboard</h1>
    </div>
    <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">

         

            <div class="card-body">
              <h5 class="card-title">Projects </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ project_count }}</h6>
                 

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card revenue-card">

         

            <div class="card-body">
              <h5 class="card-title">Modules</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ module_count }}</h6>
                 

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card revenue-card">

         

            <div class="card-body">
              <h5 class="card-title">Task</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ task_count }}</h6>
                 

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

              <!-- Customers Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card revenue-card">
      
               
      
                  <div class="card-body">
                    <h5 class="card-title">Total Developer</h5>
      
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ developer_count }}</h6>
                       
      
                      </div>
                    </div>
                  </div>
      
                </div>
              </div><!-- End Revenue Card -->

            </div><!-- End Customers Card -->
            <div class='row'>

            <div class="col-xxl-4 col-xl-6">
              <div class="col-lg-14">
              <div class="card">
             
                  <div class="filter">
                    
                  </div>
      
                  <div class="card-body">
                    <h5 class="card-title">Not Started</h5>
               
                    <!-- Line Chart -->
                    <div class="card-body">
                      
        <div class= "table-responsive p-20">
                      <!-- Default Table -->
                      
                      <div class="accordion-item">
  
                      <table class="table">
                          <thead>
                       
                            
                          </thead>
                          <tbody>
                           
                            {% for task in user_tasks %}
                            {% if task.task.status == 'Not Started' %}
                        
                              <div class="card-body">
                                <h5><div class="card-title">Task name:-{{ task.task }}
                               
                                  
                                
                                   
                           
                                  <br> Project name:- {{ task.task.project }}<br>  Priority: 
                                  {% if task.task.priority == 'High' %}
                                    <span  class="card-title" style="color: red;">{{ task.task.priority }}</span>
                                  {% elif task.task.priority == 'Low' %}
                                    <span class="card-title" style="color: Green;">{{ task.task.priority }}</span>
                                  {% else %}
                                    {{ task.task.priority }}
                                  {% endif %} <br> Description:- {{ task.task.description }}</h5>
                                </div>
                                ------------------------------------------------------------------------------------
          
                              </form>
          
                               
                              </div>
                              
                    
                                       
                              {% endif %}
                                          
                                              
                                                
                                              
                              {% endfor %}
  
                          </tbody>
                        </table>
                      <!-- End Default Table Example -->
                      </div>
                  </div>
              </div>
          </div>  
            </div>  
        
  
      </div><!-- End Customers Card -->
    
            </div><!-- End Customers Card -->
  
  
  
            <div class="col-xxl-4 col-xl-6">
              <div class="col-lg-14">
              <div class="card">
             
                  <div class="filter">
                    
                  </div>
      
                  <div class="card-body">
                    <h5 class="card-title">In Progress</h5>
               
                    <!-- Line Chart -->
                    <div class="card-body">
                      
        <div class= "table-responsive p-20">
                      <!-- Default Table -->
                      
                      <div class="accordion-item">
  
                      <table class="table">
                          <thead>
                       
                            
                          </thead>
                          <tbody>
                           
                            {% for task in user_tasks %}
                            {% if task.task.status == 'In Progress' %}
                        
                              <div class="card-body">
                                <h5><div class="card-title">Task name:-{{ task.task }}
                               
                                  
                                
                                   
                           
                                  <br> Project name:- {{ task.task.project }}<br>  Priority: 
                                  {% if task.task.priority == 'High' %}
                                    <span  class="card-title" style="color: red;">{{ task.task.priority }}</span>
                                  {% elif task.task.priority == 'Low' %}
                                    <span class="card-title" style="color: Green;">{{ task.task.priority }}</span>
                                  {% else %}
                                    {{ task.task.priority }}
                                  {% endif %} <br> Description:- {{ task.task.description }}</h5>
                                </div>
                                ------------------------------------------------------------------------------------
          
                              </form>
          
                               
                              </div>
                              
                    
                                       
                              {% endif %}
                                          
                                              
                                                
                                              
                              {% endfor %}
  
                          </tbody>
                        </table>
                      <!-- End Default Table Example -->
                      </div>
                  </div>
              </div>
          </div>  
            </div>  
        
  
      </div><!-- End Customers Card -->
    
            </div><!-- End Customers Card -->
  
  
  
  
  

            <div class="col-xxl-4 col-xl-6">
              <div class="col-lg-14">
              <div class="card">
             
                  <div class="filter">
                    
                  </div>
      
                  <div class="card-body">
                    <h5 class="card-title">Testing</h5>
               
                    <!-- Line Chart -->
                    <div class="card-body">
                      
        <div class= "table-responsive p-20">
                      <!-- Default Table -->
                      
                      <div class="accordion-item">
  
                      <table class="table">
                          <thead>
                       
                            
                          </thead>
                          <tbody>
                           
                            {% for task in user_tasks %}
                            {% if task.task.status == 'Testing' %}
                        
                              <div class="card-body">
                                <h5><div class="card-title">Task name:-{{ task.task }}
                               
                                  
                                
                                   
                           
                                  <br> Project name:- {{ task.task.project }}<br>  Priority: 
                                  {% if task.task.priority == 'High' %}
                                    <span  class="card-title" style="color: red;">{{ task.task.priority }}</span>
                                  {% elif task.task.priority == 'Low' %}
                                    <span class="card-title" style="color: Green;">{{ task.task.priority }}</span>
                                  {% else %}
                                    {{ task.task.priority }}
                                  {% endif %} <br> Description:- {{ task.task.description }}</h5>
                                </div>
                                ------------------------------------------------------------------------------------
          
                              </form>
          
                               
                              </div>
                              
                    
                                       
                              {% endif %}
                                          
                                              
                                                
                                              
                              {% endfor %}
  
                          </tbody>
                        </table>
                      <!-- End Default Table Example -->
                      </div>
                  </div>
              </div>
          </div>  
            </div>  
        
  
      </div><!-- End Customers Card -->
    
            </div><!-- End Customers Card -->
  
  
  
          </div>

        <!-- Reports -->
        <div class="col-12 col-md-">
          <div class="card">

            <div class="filter">
              
            </div>

            <div class="card-body">
              <h5 class="card-title">Project</h5>

              <!-- Line Chart -->
              <div class="card-body">
                
  <div class= "table-responsive p-0">
                <!-- Default Table -->
                <table class="table">
                    <thead>
                      <tr>
                    
                        <th scope="col">Project Name</th>
                        <th scope="col">Technology</th>
                        <th scope="col">Estimated Hours</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Generate Report</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for project in projects %}  
                      <tr>
                          <td>{{project.name}}</td>
                          <td>{{project.technology}}</td>
                          <td>{{project.estimated_hours}}</td>
                          <td>{{project.StartDate}}</td>
                          <td>{{project.endDate}}</td>
                          <td><a href="{% url "report" project.id %}" class="btn btn-sm btn-outline-primary">Report</a></td>
                        
              
                        </tr>
              
                        {% endfor %}
              
                    </tbody>
                  </table>
                <!-- End Default Table Example -->
                </div>
              </div>

              

              
      </div>


      
    </main>
    


</body>
</html>